.status {
    width: 10px;
    height: 10px;
    float: left;
    border-radius: 50%;
    margin: 6px 8px 0 0;
    &.checked-in {
      background-color: #2cdd35;
    }
    &.checked-out {
      background-color: #c0392b;
    }
  }